<!doctype html>
<html>
<head>
	<title>Hi There!</title>
 	<link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>

<h1>Hi There!</h1>

<form action="/madlib">
  What is your name? <input type="text" name="person"><br>
  What is your favorite color? 
  <input type="checkbox" name="color" value = "blue"> blue 
  <input type="checkbox" name="color" value = "red" checked> red <br>
  Pick a noun.
  <input type="checkbox" name="noun" value = "Dog"> dog
  <input type="checkbox" name="noun" value = "Cat"> cat<br>
  Pick an adjective? 
  <input type="checkbox" name="adjective" value = "bark"> bark
  <input type="checkbox" name="adjective" value = "meow"> meow<br>
  <input type="submit">
</form>

</body>
</html>
